<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
  <connectionStrings>
    <!--<add name="con" connectionString="server=103.14.99.134;database=NorthWest;User ID=NorthWestDB;pwd=amit@1234;Max Pool Size=100;Pooling=true" />-->
    <add name="con" connectionString="Data Source=103.14.99.134;User ID=NorthWestDB;Password=amit@1234"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <pages enableEventValidation="false" ></pages>

<!--<httpRuntime executionTimeout="90" maxRequestLength="4096"  useFullyQualifiedRedirectUrl="false" />-->  


    <sessionState mode="InProc" cookieless="false" timeout="520000"></sessionState>
  <!--<httpRuntime maxRequestLength="500000" executionTimeout="100000"/>-->
     <!-- <httpHandlers>
      <add verb="*" path="ImageGenerator.axd" type="Neodynamic.WebControls.ImageDraw.ImageDraw, Neodynamic.WebControls.ImageDraw"/>
    </httpHandlers>-->



    <machineKey decryptionKey="43B77C7F7CCC3CDEF3AD3493D520C203D0E4A5D8EFB9FA52" validationKey="7225EEAECE4ACD976C7F13D47C4BAC40C88EC24535F9B639D1CBDCB4A342163CCFB6D7B86602F03F77E5A149055E30A11771225ED83D03FB41B01A3E93E921F9" />
    
    
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" executionTimeout="90" maxRequestLength="4096"  useFullyQualifiedRedirectUrl="false" />
  
  
  
  
  
    
  </system.web>
  <!--<compilation  debug="false"/>-->
  <!--<sessionState timeout="60"/>-->
  <!-- <httpRuntime maxRequestLength="5000000" executionTimeout="1000000"/>-->
   <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Dashboard.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
